<%= form_for(@adm) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :crypted_password %>
  </div>
  <div class="field">
    <%= f.label :Confirm_password %><br />
    <%= f.password_field :confirm_password %>
  </div>
      <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
